# build dirs (keep out-of-tree builds out of repo)
*-build/
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
*.ninja
.ninja_*
*.log

# Retro68 build products / images
*.dsk
*.hda
*.img
*.bin
*.ad
*.gdb
.rsrc/
.finf/
